<include href="/templates/header.html" />

<body>
	<div class="container-fluid maxWidth">
		<p>Page Counter: {{ @player->page->id }}</p>
		<form action="" method="POST">
			<div class="form-group">
				<label for="resp_id">Resp Id</label>
				<input type="text" class="form-control" id="resp_id" name="resp_id" value="{{ @player->repsondent->id }}" />
			</div>
			<div class="form-group">
				<div class="col-lg-4 col-lg-offset-4">
					<div class="btn-group">
						<button type="submit" class="btn btn-default" name="navigation" value="prev">Prev</button>
						<button type="submit" class="btn btn-default" name="navigation" value="next">Next</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>

<include href="/templates/footer.html" />
